<?xml version="1.0"?>
<config>
  <modules>
    <Ndsl_Goauth>
      <version>0.1.0</version>
    </Ndsl_Goauth>
  </modules>
  <frontend>
    <routers>
      <goauth>
        <use>standard</use>
          <args>
            <module>Ndsl_Goauth</module>
            <frontName>goauth</frontName>
          </args>
      </goauth>
    </routers>
		<layout>
		  <updates>
			<goauth>
			  <file>goauth.xml</file>
			</goauth>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <goauth>
        <class>Ndsl_Goauth_Helper</class>
      </goauth>
    </helpers>
	<blocks>
	  <goauth>
		<class>Ndsl_Goauth_Block</class>
	  </goauth>
	</blocks>
  </global>
</config> 